.pino1{
    font-size: 10px;
}
.arbol{
    font-size: 20px;
}

.arbol2{
    font-size: 30px;
}
.casa{
    font-size: 40px;
}
.edificio{
    font-size: 50px;
}
.departamento{
    font-size: 60px;
}

.casa2{
    font-size: 70px;
}

.casa3{
    font-size: 80px ; 
}

.arbol3{
    font-size: 90px;
}

.pino4{
    font-size: 100px;
}