.num1{
    font-weight: bold;
    background-color: rgb(3,101,255);
}
.num2{
    background-color:rgb(0,154,255) ;
}

.num3{
    background-color: rgb(1,204,255);

}

.num4{
    background-color: rgb(160,232,255);
}

.num5{
  background-color:  rgb(209,247,252); 
}

.num6{
    background-color: rgb(253,255,231);
}

.num8{
    background-color:rgb(255,203,0) ;
}

.num7{
    background-color: rgb(255,255,104);  
}

.num9{
   background-color: rgb(255,203,0);
}

.num10{
    background-color: rgb(255,153,53) ;
}
.num11{
    font-weight: bold;
    background-color: rgb(255,52,0);
}

