body{
    display: flex;
 
}

div{
    height:50px;
    margin:5px;
    flex-grow: 4;
}
.box1 , .box2 , .box3{
    background-color: aquamarine;
}

.box1  ,.box3{
    width: 30px;

}
.box2{
    flex-grow: 2;
}

.box4 , .box5 , .box5 , .box6 , .box7{
    background-color: palevioletred;
}

.box4 ,.box7{
    width: 200px;
}

.box5 , .box6{
    flex-grow: 2;
}

.box8 ,.box9 , .box10{
    background-color: purple;
    width: 366px;
}

.box11 ,.box12 , .box13{
    background-color: brown;
   
}
.box11{
    width: 549px;
}

.box12 , .box13{
    width: 274px;
}

.box14 ,.box15 ,.box16{
    background-color: greenyellow;
}
.box16{
    width: 60%;
}
.box14 ,.box16{
    width: 25%;
}


