body {
    margin: 0px;
}

header {
    display: flex;
    background-color: plum;
    flex-grow: 1;
    justify-content: center;

}

nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.lista {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;

}

li {
    list-style: none;
    font-size: 30px;

}

figure {
    display: none;
}

.icono {

    font-size: 30px;
    color: aqua;

}

@media (max-width:593px) {
    header{
        margin: 5px 0px ;
    }
    li{
        display: none;
    }
    figure{
        display: flex;
    }
    
}

@media(max-width: 558px ) {
    header{
        padding-top: 5px;
    }
}